

.form {

    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin-left: 360px;
  }
  
  .form__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }
  
  label {
    font-size: 19px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #F2695C;
    color: white;
    border-style: none;
    padding: 12px 20px;
    border-radius: 3px;
  }

.button:hover{
  background: #f6f6f6;
}