.Photostravel h2 {
  text-align: center;
  font-size: 55px;
  font-family: 'Mukta', sans-serif;
  margin: 15px;
}

.Photostravel p {
  font-size: 20px;
  text-align: center;
  margin: 15px 15px;
  margin-bottom: -75px;
}

.photos__mozaico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px;
  padding: 50px 50px 50px 50px;
  flex-wrap: wrap;
}

.photos__mozaico img {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 80px;
  border-radius: 45px;


}


.photos__mozaico .photo1 {
  width: 20%;
  height: 40vh;
  margin: 5px 5px 5px 5px;
}

.photos__mozaico .photo2 {
  width: 20%;
  height: 60vh;
  margin-top: -120px;
  margin-right: 15px;

}

.photos__mozaico .photo3 {
  width: 20%;
  height: 40vh;
  margin-left: 15px;

}

.photos__mozaico .photo4 {
  width: 20%;
  height: 60vh;
  margin-right: 25px;



}

.photos__mozaico .photo5 {
  width: 20%;
  height: 60vh;
  margin-top: -120px;
  margin-left: 20px;

}

.photos__mozaico .photo6 {
  width: 20%;
  height: 40vh;
  margin-right: -45px;


}
.buttonphoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: -25px;
}

.buttonphoto img {
  color: white;
  border-style: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.space {
  width: 15px;
}