*{
    margin: 0;
    padding: 0;
}


h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    color: #010326;
}

p{
    color: #A69C9A;
    font-family: italic;
}

h1{
    font-size: 6.5em;
    font-family: 'Mukta', sans-serif;
}